:root {
  /* cores de fonte padrões */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;

  /* cores de borda padrões */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  /* cores de botões*/
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px auto;
  width: 630px;
  font-family: "Inter", sans-serif;

  background-color: #F4F5FB;
}

header {
  display: flex;
  justify-content: center;
  margin: 25px auto 62px;
  gap:  7px;

  text-align: center;
  font-family: "Sora", sans-serif;
  font-weight: bold;
  font-size: 26.67px;
  line-height: 40px;
  color: var(--content-secondary);
}

main button {
  background: none;
  border: none;
}

h1 {
  color: var(--content-primary);
  margin: 16px auto 44px;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

#inputTxt {
  border-radius: 12px;
  border: solid 2px;
  border-color: var(--border-primary);

  width: 445px;
  height: 44px;
  margin-right: 16px;
} 

#itemSubmit {
  width: 160px;
  height: 44px;
  border-radius: 12px;
  background-color: var(--color-brand);
  color: white;

  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

#lista {
  width: 627px;
  margin: 40px 0 36px 0;
  gap: 12px;
}

#itemBox {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 12px;
}

#itemBox p {
  text-align: left;
  width: 531px;
}

#itemBox input {
  margin: 16.5px 12px;
  appearance: none;
  border: solid 1px;
  border-color: var(--border-primary);
  border-radius: 6px;
  width: 16px;
  height: 16px;
}

#itemBox img {
  margin: 8.5px 12px;  
}