* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px auto;
  width: 627px;
  border: solid 1px red;
}

header {
  margin: 20px auto 40px;
  text-align: center;
}

#lista {
  border: solid 1px grey;
  margin: 40px;
}